xcuserdata
# xcshareddata
*.xccheckout
CocoaPodsConfig/FIJKPlayer.framework
CocoaPodsConfig/IJKPlayer.framework
CocoaPodsConfig/FIJKPlayer.tar.gz
CocoaPodsConfig/IJKPlayer.tar.gz
CocoaPodsConfig/FIJKPlayer.tar.xz
CocoaPodsConfig/IJKPlayer.tar.xz
CocoaPodsConfig/IJKMediaPlayer.tar.xz
CocoaPodsConfig/IJKMediaPlayer.tar.gz
CocoaPodsConfig/IJKMediaPlayer.framework
CocoaPodsConfig/LICENSE
